{
  "CONFIGURATION": "debug|release",
  "ENVIRONMENT": "development|production",
  "PM2_NAME": null,
  "PM2_SCRIPT": "./server.js",
  "HOST": "0.0.0.0",
  "PORT": 1337,
  "CLOUDINARY_NAME": null,
  "CLOUDINARY_KEY": null,
  "CLOUDINARY_SECRET": null,
  "REDIS_URL": null,
  "CRON_ENABLED": false,
  "DATABASE_HOST": null,
  "DATABASE_SRV": true,
  "DATABASE_PORT": null,
  "DATABASE_NAME": null,
  "DATABASE_USERNAME": null,
  "DATABASE_PASSWORD": null,
  "AUTHENTICATION_DATABASE": null,
  "DATABASE_SSL": true,
  "GIT_BRANCH": null,
  "GIT_MERGER_NAME": null,
  "GIT_MERGER_EMAIL": null,
  "GIT_USERNAME": null,
  "GIT_PASSWORD": null,
  "GIT_REMOTE": null
}
